header {
    display: flex;
    margin-top: 50px;
    margin-bottom: 120px;
    align-items: center;
    justify-content: space-between;

    .logo {
        svg {
            path {
                transition-duration: 0.5s;
                transition-property: opacity;
            }
        }

        &:hover {
            svg {
                #Path_1,
                #Path_2 {
                    opacity: 0.5;
                }
            }
        }
    }

    nav {
        display: flex;

        .language-button {
            cursor: pointer;
            margin-left: 30px;
        }
    }
}
