@import "../main/variables";

button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 30px;
    font-size: 14px;
    color: white;

    appearance: none;
    outline: none;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-property: background-color;

    i {
        font-size: 23px;
        margin-right: 10px;
    }

    &.large {
        font-size: 16px;
        padding: 16px 33px;
    }

    &.algaegreen {
        background-color: $algaegreen;

        &:hover {
            background-color: $pastelgreen;
        }
    }

    &.azureradiance {
        background-color: $azureradiance;

        &:hover {
            background-color: $toryblue;
        }
    }
}
