@import "./variables";

@font-face {
    font-family: "#{$icomoon-font-family}";
    src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?g91ugj");
    src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?g91ugj#iefix") format("embedded-opentype"),
        url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?g91ugj") format("truetype"),
        url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?g91ugj") format("woff"),
        url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?g91ugj##{$icomoon-font-family}") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "#{$icomoon-font-family}" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-book {
    &:before {
        content: $icon-book;
    }
}
.icon-brush {
    &:before {
        content: $icon-brush;
    }
}
.icon-codacy {
    &:before {
        content: $icon-codacy;
    }
}
.icon-cogs {
    &:before {
        content: $icon-cogs;
    }
}
.icon-copy {
    &:before {
        content: $icon-copy;
    }
}
.icon-design {
    &:before {
        content: $icon-design;
    }
}
.icon-github {
    &:before {
        content: $icon-github;
    }
}
.icon-home {
    &:before {
        content: $icon-home;
    }
}
.icon-npm {
    &:before {
        content: $icon-npm;
    }
}
.icon-open-source {
    &:before {
        content: $icon-open-source;
    }
}
.icon-rocket {
    &:before {
        content: $icon-rocket;
    }
}
