$icomoon-font-family: "SupremeValidationIconFont" !default;
$icomoon-font-path: "../../assets/fonts" !default;

$icon-book: "\e900";
$icon-brush: "\e901";
$icon-codacy: "\e902";
$icon-cogs: "\e903";
$icon-copy: "\e904";
$icon-design: "\e905";
$icon-github: "\e906";
$icon-home: "\e907";
$icon-npm: "\e908";
$icon-open-source: "\e909";
$icon-rocket: "\e90a";

$black: #000;
$white: #fff;

$algaegreen: #99E0AD;
$pastelgreen: #71DE90;
$azureradiance: #0B7AFF;
$toryblue: #0B56AF;

$athensgray: #E4E7EB;
$athensgraydark: #E9ECEF;
$athensgraylight: #F9FAFB;
$palesky: #6A7280;

$sunglo: #E5686A;
$portage: #957AF3;
$tanhide: #F8A363;
$periwinkle: #BED0FF;
$chenin: #E0CA73;

$indigo: #4C6CD3;
$aliceblue: #F1F8FF;
$scienceblue: #0366D6;
$guardsmanred: #CB0000;