@import "./main/variables";

.code-widget {
    position: relative;
    display: flex;
    padding: 15px 30px;
    align-items: center;
    border: solid 1px $athensgray;
    background-color: $athensgraylight;
    border-radius: 6px;
    word-break: break-all;
    max-width: max-content;
    cursor: pointer;

    &.children {
        cursor: auto;
        flex-direction: column;
        align-items: flex-start;
        max-width: none;

        p {
            font-weight: 600;
        }
    }

    &.large {
        code {
            font-size: 18px;
        }
    }

    &.copied {
        .copy-message {
            opacity: 1;
        }
    }

    .copy-message {
        position: absolute;
        right: 0;
        bottom: 100%;
        margin-bottom: 10px;
        border-radius: 6px;
        background-color: $algaegreen;
        color: $white;
        font-size: 10px;
        padding: 5px 10px;
        pointer-events: none;
        opacity: 0;
        transition-duration: .5s;
        transition-property: opacity;
    }

    &:hover {
        i {
            color: $black;
        }
    }

    code {
        font-size: 14px;
        font-weight: 600;
        font-family: "Courier New", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;
        color: $black;
    }

    i {
        font-size: 27px;
        color: $palesky;
        transition-duration: .5s;
        transition-property: color;
        margin-left: 50px;
    }
}
