.detail-item {
    h4 {
        margin-bottom: 10px;
    }

    p {
        &.feature {
            margin-bottom: 10px;
            color: $azureradiance;
        }
    }

    &:not(:last-child) {
        border-bottom: 1px solid $athensgraydark;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
}
